body{
  background-image: url('./img/bg_principal.png');
  background-size: 100%;
  background-repeat: no-repeat;

  box-sizing: border-box;

  font-family: 'Josefin Sans', sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.container .col-botao .selecionar{
  background-color: rgba(49, 185, 7, 0.925);
  color: white;
  font-weight: 300;

  border: none;
  border-radius: 8px;

  height: 40px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-inline: 20px;

  font-size: 20px;
}


.container .botao-iniciar{
  width: 150px;
  height: 40px;

  background-color: rgba(255, 6, 6, 0.904);
  color: white;

  font-size: 21px;
  font-weight: 500;
}